body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}
header{
   background-color: #F2F2F2;
} 
header::after {
    content: '';
    display: table;
    clear: both;
}
.container{
    display: flex;
    width: 95%;
    margin-left: 50px;
    justify-content: space-between; 
}

h1 {
    float: left;
}
nav {
    font-size: large;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 35px;
    padding-top: 18px;
}
nav a{
    color: #000;
    text-decoration: none;
}
nav a:hover{
color: #ff5c0f;
}
.orange {
    color:#ff5c0f
}
.blue {
    color:#20a8b4
}
.container2 {
    width:100%;
    align-items: center;
    padding:2%;
}
button {
    background-color: #20a8b4;
    border-radius: 10px;
    padding: 12px;
    font-size: 1em;
    color: #fff;
    border-style: solid;
    cursor: pointer;
    border: none;
    
}
button:hover {
    background-color: #ff5c0f;
}
.floatcontainer  {
    display: flex;
   align-items: center;
   padding: 8%;
   
}
.container2  {
    margin-left: -10%;
    margin-bottom: 10%;
}
.imagee {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-bottom: 10%;
    max-width: 768px 
}
.imagee
{
    display: none;
}
.navigation {
    display: flex;
}
@media only screen and (min-width: 768px) {
    .imagee
    {
        display: block;
    }
}
@media only screen and (max-width: 728px) {
    .navigation
    {
       display: flex;
       flex-direction:column;
       text-align:start;
}
}
@media only screen and (max-width: 728px) {
    button
    {
       width: 100%;
}
}
