/* This is my first project so I'm sorry my coding isn't organized the best. I had a few
problems using the media queries to make this page stacked on mobile. I managed to remove the image, however
I could not get the website to stack exactly like the example. Though, it is still responsive on mobile, 
visible, and not overlapping. I don't have enough time before it's due to test it out anymore to try and get it 
exact, so I have to turn it in as is. I can promise you that I am dedicating everything to learn and take this 
course seriously, I don't want my mobile layout to be the death of me.*/
body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}
header{
   background-color: #F2F2F2;
} 
header::after {
    content: '';
    display: table;
    clear: both;
}
.container{
    width: 95%;
    margin: 0 auto;
    display: block
}
h1 {
    float: left;
}
nav {
    float: right;
    font-size: large;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 35px;
    padding-top: 18px;
}
nav a{
    color: black;
    text-decoration: none;
}
nav a:hover{
color: #ff5c0f;
}
.orange {
    color:#ff5c0f
}
.blue {
    color:#20a8b4
}
.container2 {
    width:100%;
    align-items: center;
    padding:2%;
}
button {
    background-color: #20a8b4;
    border-radius: 10px;
    padding: 12px;
    font-size: 1em;
    color: white;
    border-style: solid;
    cursor: pointer;
    border: none;
    
}
button:hover {
    background-color: #ff5c0f;
}
.floatcontainer  {
    display: flex;
   align-items: center;
   padding: 8%;
   
}
.container2  {
    margin-left: -10%;
    margin-bottom: 10%;
}
.imagee {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-bottom: 10%;
    max-width: 768px 
}
.imagee
{
    display: none;
}
@media only screen and (min-width: 768px) {
    .imagee
    {
        display: block;
    }
}